.popup__success-button {
  margin: 20px 40px 40px;
  min-width: 255px;
  min-height: 57px;
  border-radius: 15px;
  border: none;
  color: #FFF;
  background-color: #954CED;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}