.card-zone {
  display: flex;
  flex-direction: column;
  color: #FFF;
  gap: 21px;
  margin-bottom: 80px;
}

.card-zone .card-zone__container-card:nth-child(2) .card-zone__container-image:nth-child(2) {
  margin-top: 4px;
}

.card-zone .card-zone__container-card:nth-child(4) .card-zone__container-image:nth-child(2) {
  margin-top: 32px;
  justify-content: end;
}

.card-zone .card-zone__container-card:nth-child(4) .card-zone__container-image:nth-child(2) {
  margin-top: 32px;
  justify-content: end;
}

.card-zone .card-zone__container-card:nth-child(5) .card-zone__container-image:nth-child(2) {
  justify-content: end;
  margin-right: 55px;
  margin-top: 5px;
}

.card-zone .card-zone__container-card:nth-child(5) .card-zone__container-description:nth-child(1) {
  margin-right: 34px;
}