.footer__button {
  margin-top: 24px;
  min-width: 182px;
  min-height: 57px;
  border-radius: 15px;
  border: none;
  color: #FFF;
  background-color: #954CED;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}

@media screen and (min-width: 1000px) {
  .footer__button {
    margin: 10px;
  }
}

@media screen and (min-width: 1350px) {
  .footer__button {
    margin: 0;
    margin-left: 8.7vw;
  }
}
