.business__button {
  margin: 40px 0;
  min-width: 303px;
  min-height: 57px;
  border-radius: 15px;
  border: none;
  color: #FFF;
  background-color: #954CED;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}

@media screen and (min-width: 1000px) {
  .business__button {
    min-width: 182px;
    margin-bottom: 60px;
  }
}