.about__paragraph {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  width: 80%;
  background-image: url(/image/about-background-image.png);
  background-repeat: no-repeat;
  background-size: 86%;
  background-position: right bottom 1px;
  padding-bottom: 5px;
}